<IfModule mod_rewrite.c>
	Options +SymLinksifOwnerMatch

	RewriteEngine On

# Ensure HTTPS
	RewriteCond %{HTTPS} off
	RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Ensure www unless this is a Heroku review app
	RewriteCond %{HTTP_HOST} !^www\.
	RewriteCond %{REQUEST_URI} !^/plugins(.*)$
	RewriteCond %{HTTP_HOST}   !(.*).herokuapp.com(.*)$
	RewriteRule .* https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

	RewriteRule ^rss/$                       /rss.php [L,QSA]
	RewriteRule ^styles/pms/imageset/(.*)$   https://www.universalmediaserver.com/forum/styles/pms/imageset/$1   [L,QSA]
</IfModule>
